html {
  max-width: 1300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ArcoPerpetuoRegular'; 
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imgbtn {
  width:35px;
  height:35px;
  vertical-align: middle;
}